* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  opacity: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    to bottom,
    rgb(255, 51, 102),
    rgb(199, 21, 133)
  ); /* Gradient from bright to deep red */
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  width: 100vw;
  position: relative;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
}
body.loaded {
  opacity: 1;
}
.back {
  outline: none;
  border: none;
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px 15px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: background-color 0.1s ease;
  margin: 6px 0px 0px 6px;
}

.back:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.verification-box {
  width: 380px;
  line-height: 26px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 18px;
  border: 2.5px solid black;
  border-radius: 8px;
  position: absolute;

  transition: top 0.2s ease, left 0.2s ease;
}

.para {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.btn {
  font-size: 23px;
  padding: 7px 17px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 3px;
  color: white;
  transition: opacity 0.1s ease;
}

.btn:hover {
  opacity: 70%;
}

.btn:active {
  opacity: 50%;
}

.buttons-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  width: 190px;
}

#yes {
  background-color: rgb(66, 255, 66);
}

#no {
  background-color: rgb(255, 96, 96);
}

.hidden {
  display: none !important;
}

.last-pic {
  width: 500px;
  height: 500px;
  border-radius: 100px;
  object-fit: cover;
  object-position: right;
}
.last {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
  margin-bottom: 20px;
}

.last-para {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 80px;
  color: white;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.rikshaw {
  width: 280px;
  border-radius: 50px;
  position: absolute;
  right: -300px;
  animation: rikshaw_animate 5s ease-out;
}

@keyframes rikshaw_animate {
  from {
    right: -300px;
  }
  to {
    right: 100vw;
  }
}
.corner-hearts {
  width: 1000px;
  position: absolute;

  top: 0;
  z-index: -3;
}
#left {
  left: 0;
}
#right {
  right: -10px;
  transform: scaleX(-1);
}

.crying-cat {
  border-radius: 20px;
}
